{% extends "./index.html" %}

{% block titulo %}
        Criar opção
{% endblock %}

{% block conteudo %}
    <h1> Criar nova questão:</h1>
    <div>
        <form action="{% url 'votacao:criarop' questao.id %}"  method="post">
        {% csrf_token %}
            <input type="text" name="opcao" placeholder="Opcao">
            <input type="submit" value="criar" />
        </form>
    </div>
{% endblock %}
{% block options %}
    <p> <a href="{% url 'votacao:index' %}"> Voltar</a></p>
{% endblock %}