{% extends "./index.html" %}

{% block titulo %}
        Criar questão
{% endblock %}

{% block conteudo %}
    <h1> Criar nova questão:</h1>
    <div>
        <form action="{% url 'votacao:criar'%}"  method="post">
        {% csrf_token %}
            <input type="text" name="questao" placeholder="Questão" required>
            <input type="submit" value="Criar" />
        </form>
    </div>
{% endblock %}
{% block options %}
    <p> <a href="{% url 'votacao:index' %}"> Voltar</a></p>
{% endblock %}