{% extends "./index.html" %}

{% block titulo %}
    Registo
{% endblock %}

{% block conteudo %}
<h1> Registo</h1>
    <div>
        <form action="{% url 'votacao:signup'%}"  method="post">
        {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="curso" placeholder="Curso">
            <input type="password" name="password" placeholder="Senha">
            <input type="submit" value="criar" />
        </form>
    </div>
{% endblock %}